@import "../../app.scss";

.backGround {

  background: linear-gradient(180deg, #0042ad, #111132);
  height: 100%;
  margin: auto;
  display:flex;
  align-items: center;
  

  @include mobile {
    overflow: hidden;
    position: relative;
  }

  .contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include mobile {
      max-width: 738px;
      width: 100%;
      padding: 15px;
      flex-direction: column;
      overflow: hidden;
    }


    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 50px;

      @include mobile {
        gap: 30px;
        text-align: center;
        align-items: center;
        margin-top: 40px;
        overflow: hidden;
      }


      h1 {
        font-size: 80px;
        line-height: 88px;

        @include mobile {
          font-size: 25px;
        }
      }


      span {
        font-weight: 300;
        color: #c8c8c8;
        font-size: 20px;

        @include mobile {
          font-size: 15px;
          overflow: hidden;
        }
      }
    }

    
    h2 {
      color: #c8c8c8;
      font-size: 25px;

      @include mobile {
        font-size: 15px;
        overflow: hidden;
      }
    }

    .formContainer {
      flex: 1;
      position: relative;


      @include mobile {
        padding: 90px;
        width: 85%;
        position: absolute;
        margin-top: 170px;
        overflow: hidden;
      }

      .phoneSvg {
        stroke: #cec406;
        position: absolute;
        margin: auto;
        z-index: 999;
      }



      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        

        @include mobile {
          gap: 10px;
          overflow: hidden;
        }

        input,
        textarea {
          padding: 10px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 7px;
          z-index:997;

          @include mobile {
            padding: 5px;
            overflow: hidden;
          }
        }

        button {
          padding: 15px;
          border: none;
          background-color: #c2daf5;
          cursor: pointer;
          font-weight: 500;
          font-size: 20px;
          border-radius: 7px;
          z-index:997;

          @include mobile {
            padding: 5px;
            font-size: 15px;
            overflow: hidden;
          }
        }
      }
    }
  }
}